# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# venv
.venv/
env/
venv/
ENV/

# VSCode
.vscode/

# PyCharm
.idea/

# Byte-compiled / caches
*.egg-info/
dist/
build/

# OS
.DS_Store
Thumbs.db

# pip logs
pip-log.txt

# logs
*.log
